<template lang='pug'>
  .container
    p.breadcrumb  {{categories}} 
    .containerList
      ul
        li( v-for="item in listado") 
          .containerImg
            img(:src="item.picture")
          .containerData
            p.price {{item.price.currency}} {{item.price.amount}} 
            img.imgShipping(v-if="item.free_shipping" src="../assets/img/ic_shipping.png")
            nuxt-link.title(:to="'/items/'+item.id") {{item.title}}
          

</template>
<style lang='scss' scoped>
  @import '../assets/sass/main.scss';
  .container{
    margin: 0 auto;
    width: 80%;
    .breadcrumb{
      font-size: 14px;
      margin: 16px 0;
    }
    .containerList{
      background: $baseItems;
      margin-bottom: 32px;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          align-items: center;
          border-bottom: solid 1px $lineChangeItem;
          display: flex;
          .containerImg{
            margin: 16px;
            img{
              border-radius: 4px;
              height: 180px;
              width: 180px;
            }
          }         
          .containerData{
            width: 80%;
            .price{
              display: inline-block;
              font-size: 18px;
              margin-bottom: 32px;
            }
            .imgShipping{
              display: inline-block;
              height: 18px;
              margin-left: 10px;
              width: 18px;
            }
            .title{
              color: black;
              display: block;
              font-size: 18px;
              text-decoration: none;
            }
          }
        }
      }      
    }
  }
</style>

<script>

export default {
  name: 'Search',
  data () {
    return {
      categories: '',
      listado: {}
    }
  },
  created () {
    this.$bus.$on('setItem', (item) => {
      this.categories = item.categories
      this.listado = item.items
      console.log(this.listado)
    })
  }
}
</script>
