<template lang='pug'>
  div.container
    .searchBar
      a(href='/')
        img(src='../assets/img/logo.png')
      input(type='text' v-model='query')
      button(type='button' @click='search' )
        i.icoSearch
</template>
<style lang='scss' scoped>
  @import '../assets/sass/main.scss';
  .container{
    align-items: center;
    background-color: $baseSearch;
    display: flex;
    height: 50px;
    .searchBar{
      align-items: center;
      display: flex;
      margin: 0 auto;
      width: 80%;
      img{
        height: 32px;
        margin-right: 16px
        }
        input{
          border-radius: 4px 0 0 4px ;
          border: 0;
          font-size: 18px;
          height: 32px;
          padding:0;
          width: 100%;      
        }
        button{
          border-radius: 0 4px 4px 0;
          border: 0;
          height: 32px;
          width: 32px;
          .icoSearch::before{
            content: url("../assets/img/ic_Search.png");

          }
        }
    }
    
  }
</style>

<script>
import axios from '~/plugins/axios'

export default {
  name: 'Search',
  data () {
    return {
      query: '',
      results: []
    }
  },
  methods: {
    async search () {
      let { data } = await axios.get('/api/items', {
        params: {
          search: this.query
        }
      })
      this.$bus.$emit('setItem', data)
    }
  }
}
</script>