<template lang="pug">
  .containerItem
    .containerImage
      img(:src='dataItem.picture')
    .containerData
      span.status {{dataItem.condition}} - vendidos {{dataItem.sold_quantity}}
      p.title {{dataItem.item.title}}
      p.price {{dataItem.price.currency}} {{dataItem.price.amount}}
    .containerDescription
      h2 Descripción del producto
      p.description {{dataItem.description}}

      
</template>

<script>
import axios from '~/plugins/axios'
export default {
  name: 'id',
  asyncData ({ params, error }) {
    console.log(params.id)
    return axios.get('/api/items/' + params.id)
      .then((res) => {
        console.log('Date en id.vue', res)
        // const dataItem = res.data
        return {dataItem: res.data}
      })
      .catch((e) => {
        error({ statusCode: 404, message: 'User not found' })
      })
  }
}
</script>

<style lang='scss' scoped>
@import '../../assets/sass/main.scss';

.containerItem{
  background: $baseItems;
  box-sizing: border-box;
  margin: 32px auto;
  padding: 32px;
  width: 80%;
  .containerImage{
    display: inline-block;
    width: 60%;
    img {
      width: 680px;
    }
  }
  .containerData{
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
    width: 20%;
    .status{
      font-size: 14px;
    }
    .title{
      font-size: 24px;
      font-weight: bold;
    }
    .price{
      font-size: 64px;
      font-weight: bold;
    }
  }
  .containerDescription{
    width: 60%;
    h2{
      font-size: 28px;
    }
    .description{
      font-size: 16px;
      margin: 32px 0;
    }
  }
}

</style>
