<template lang='pug'>
  #app
    ListItems
</template>

<script>
  import ListItems from '~/components/ListItem.vue'

  export default {
    name: 'app',
    components: {
      ListItems
    }
  }
</script>

<style scoped>

</style>
